body {
    width: 250px;
    margin: 0px;
    background-color: #fff;
    min-width: 200px;
    overflow-x: hidden;
    font-family: "Helvetica Neue",Helvetica,"Hiragino Kaku Gothic Pro","Lucida Grande",Verdana,Arial,Meiryo,"メイリオ",sans-serif;
}

p {
  font-size: 18px !important;
}

li {
  color: white !important;
  font-size: 16px !important;
  height: 30px !important;
}

li.strawberry {
    background-color: #c63659;
}

li.sky {
    background-color: #0073b0;
}

li.honey {
    background-color: #a7663b;
}

li.indigo {
    background-color: #0e3360;
}

li.chocolate {
    background-color: #4b251a;
}

li.lavender {
    background-color: #b0a2bf;
}
