body {
    width: 250px;
    margin: 0px;
    background-color: #fff;
    min-width: 200px;
    overflow-x: hidden;
    font-family: "Helvetica Neue",Helvetica,"Hiragino Kaku Gothic Pro","Lucida Grande",Verdana,Arial,Meiryo,"メイリオ",sans-serif;
}

.col-xs-3 {
    height: 50px !important;
}

#red {
    background-color: red; 
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

#orange {
    background-color: orange;
}